/* Import Google Fonds */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@300&display=swap');

/* Update headers */

h2 {
  font-family: "Lobster";
  font-size: 40px;
  color: purple;
}

h3 {
  font-family: "Oswald";
  font-size: 20px;
  color: magenta;
}

body {
  font-family: "Oswald";
  font-size: 14px;
  color: teal;
  background-color: "yellow";
}
